

.contact-container{
    width: 100%;
  background-color: lightblue;
    margin-top: 30px;
    padding: 20px;
}
.contact-container h2{
    margin-top: 40px;
    margin-bottom: 20px;
    color: rgb(3, 3, 51);
    font-weight: 800;
    border: 2px solid rgb(38, 4, 189);
    padding: 6px 0;
}

.contact-container img{
    height: 300px;
    width: 50%;
}
.contact-container .card-body{
    background-color: lightblue;
    border: none;
}
.contact-container h5{
    color: rgb(2, 2, 87);
    font-family: serif;
    font-weight: 800;
}